h1 {
  text-align: center;
}

h2 {
  margin: 0;
  padding: 0;
}

.div {
  margin: 0 auto;
  width: 80%px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div > img {
  margin: 0 auto;
  display: block;
}

.letra {
  width: 30px;
  height: 30px;
  font-size: 25px;
  margin: 0 1rem;
}

.letras {
  display: flex;
}

#letras {
  width: 30px;
  height: 30px;
  font-size: 25px;
}

.btn {
  width: 100px;
  height: 37px;
  font-size: medium;
  background-color: rgb(62, 128, 214);
  color: white;
  border: none;
  border-radius: 1.5rem;
}

.btn:hover {
  background-color: rgb(21, 83, 165);
  cursor: pointer;
}

.cronometro {
  text-align: center;
  font-size: 1.5em;
}

table {
  margin: 2% auto 0 auto;
}
