h1{
    text-align: center;
}

h2{
    margin: 0;
    padding: 0;
}

.div{
    margin: 0 auto;
    width: 500px;
    justify-content: center;
    align-items: center;
}

div > img{
    margin: 0 auto;
    display: block;
}

.letra{
    display: flex;
    margin: 2rem auto;
    justify-content: center;
}

#letra{
    width: 30px;
    height: 30px;
    font-size: 25px;
    margin: 0 1rem;
}

#letras{
    width: 30px;
    height: 30px;
    font-size: 25px;
}

button{
    width: 100px;
    height: 37px;
    font-size: medium;
    background-color: rgb(7, 7, 7);
    color: white;
    border: none;
    border-radius: 1.5rem;   
}

button:hover{
    background: transparent;
    color: rgb(7, 7, 7);
    border: 2px solid rgb(7, 7, 7);
    cursor: pointer;
}